res/input/test_video.MOV
res/input/*.mp4
res/output
res/input/extracted_frames
res/results
*.DS_Store
*/.DS_Store
*/__pycache__
*__pycache__
*.db
*.pyc
*.bin
extracted_frames/
.venv/
*splatpy.egg-info
results
.splatpy_dir
.python-version
uv.lock
.coverage
.claude
tmp*
